<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Greetings</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"> </script>
  </head>
  <body>

    {{{body}}}

  </body>
</html>
